* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes rgb-drop-shadow {
  0% {
    filter: drop-shadow(0px 0px 50px #e97587);
  }
  100% {
    filter: drop-shadow(0px 0px 10px #e97587);
  }
  
}

body {
  font-family: 'Roboto', sans-serif;  
}

.popup {
  width: 500px;
  height: 400px;
  background-color: #FFF6E3;
}

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  position: relative;
}

.nav-img {
  height: 40px;
  padding: 7px;
  background-color: #CDC1FF;
  border-radius:8px;
  cursor: pointer;
  transition: 300ms;
}

.nav-img:hover {
  transform: scale(1.2);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43px;
  max-width: 160px;

  background-color: #CDC1FF;
  border-radius:8px;
  padding: 8px;
}

p {
  font-size: 20px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 15px;
  cursor: pointer;
  z-index: 5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #eeabb0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFD9DD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selector {
  width: 80px;
  height: 43px;
  border-radius: 8px;
  background-color: #9990bd9a;
  position: relative;
  left: 160px;
  bottom: 36px;
  z-index: 1;

  animation-duration: 300ms;
}

.video {
  display: none;
}

.vid-container {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  height: 200px;
  border-radius: 10px;
}

.zap-btn {
  display: block;
  width: 100px;
  height: 40px;
  margin: 30px auto;
  border: 3px solid #FFB2BD;
  border-radius: 7px;
  outline: none;
  background-color: #FFB2BD;
  cursor: pointer;
  transition: 300ms;
  font-size: 20px;
  animation: rgb-drop-shadow 1s infinite alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.zap-btn:hover {
  background-color: white;
  filter: none;
}